<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Природа нашего края</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
<!-- Tab links -->
<div class="tab">
    <button class="tablinks">
        <a href="/">Главная</a>
    </button>
    <button class="tablinks">
        <a href="#" id="link_2">Каталог</a>
    </button>
    <button class="tablinks">
        <a href="/about/">О нас</a>
    </button>
</div>
<h1>Проект <a href="#">"Природа нашего края"</a> приветствует вас!</h1>
<img src="/static/img/2i-130915.jpg" width="400px">
<h2>Мы стартовали</h2>
<h2>Уже есть результаты</h2>
<footer>
    2018, КПК
</footer>
</body>
</html>